@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&family=Roboto:wght@500;700&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  color: #212529;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Main container */
.container {
  display: flex;
  flex-direction: row;
  /* CHANGED */
  height: 400px;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
}

/* responsive media query */
@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
    height: unset;
  }

  .info-comp{
    min-height: 400px;
  }
}

/* Image Component */
.img-comp {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border-radius: 8px;
  box-shadow: inset -10px 0px 10px -10px rgb(0 0 0 / 5%);
}

.img-comp-highlight {
  /* Positioning */
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  height: 100%;
  z-index: 10;

  /* Styling */
  background-color: rgba(33, 37, 41, 0.75);
  visibility: hidden; /* Starts hidden until Next button is clicked */
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  border-radius: 8px;
  box-shadow: inset -10px 0px 10px -10px rgb(0 0 0 / 5%);
}

#img-comp-mask {
  position: absolute;
  backdrop-filter: brightness(2) saturate(1) contrast(2);
  background-color: rgba(73, 80, 87, 0);
}

.responsive {
  /* Positioning */
  max-height: 400px;
  width: 100%;
  object-fit: contain;
  box-shadow: inset -10px 0px 10px -10px rgb(0 0 0 / 5%);
}

/* Info Component */

.info-comp {
  flex: 1;
  padding-left: 0.85rem;
  padding-right: 0.35rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  background-color: #f9f9f9;
  height: 100%;

  z-index: 2;
  color: #000;
  border-radius: 16px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 5%), rgb(0 0 0 / 5%) 0px 20px 25px -5px,
    rgb(0 0 0 / 4%) 0px 10px 10px -5px;
  padding: 10px;
}

.headline {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-align: center;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.comp-title {
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}

.comp-info {
  max-height: 9rem;
  overflow-y: auto;
}

.btn {
  user-select: none;
  cursor: pointer;
  border: 1px solid transparent;
  background-color: #228be6;
  color: #fff;
  text-decoration: none;
  box-sizing: border-box;
  height: 36px;
  padding-left: 16px;
  padding-right: 16px;
  font-family: "Open Sans";
  display: inline-block;
  width: auto;
  border-radius: 8px;
  font-weight: 600;
  position: relative;
  line-height: 1;
  font-size: 14px;
  transition: 0.2s all ease-in-out;
}

.btn:hover {
  background-color: #1c7ed6;
  transform: scale(1.03);
}

.btn:active {
  background-color: #1c7ed6;
  transform: scale(0.97);
}
